
body {
    margin:0;
    font-family: 'Slabo 27px', serif;
    width: 100%;
}
nav {
    display: flex;
background-color: black;
width: 100%;
height: 80px;
color:orangered;
justify-content: space-between;
align-items:center;


 }
#div-logo {
    height: 50px;
    width: 50px;
    padding-left: 20px;
}
.div-nav{
    padding-right:20px;
}
ul li {
    list-style-type:none;
    display:inline;
    margin: 7px;
}

#logo {
    height: 100%;
    width:auto;
}
.img-redes {

}
.hamburguesa {
    display:none;
}
header{
    display:flex;
    
    height: auto;
    justify-content: center;
    padding: 30px;
}
.img-banner {
    display:flex;
    width: 800px;
    height: auto;
}
.cuerpo {
    display:flex;
    justify-content: space-between;
    align-items: center;
background-color: ghostwhite;
padding:30px;
}
.cuerpo-redes
{
    display:flex;
    padding:0;
    justify-content: center;
}
#div-logo2 {
    width: 50px;
    height: 50px;
}
#logo2 {
    width: 100%;
    height:auto;
}
h1
{
    color: orangered;
    margin:0;
}
p {
    margin:0;
}
.texto-cuerpo {
    width: 800px;
    margin:10px;
    

}
.img-redes{
    width:30px;
    height:30px;
    margin:3px;
    color: orangered;
   
}

.img-redes img {
    width:100%;
    height:auto;
    
}

.avatares {
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    }

.card {
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    color: orangered;
    margin: 10px;
}
.datos {
    margin: 10px;
}
.img-avatar {
    width: 120px;
    height:120px;
}
.img-avatar img {
    width:100%;
    height: auto;
}
footer {
    background-color: black;
    color:orangered;
    display:flex;
    justify-content: space-between;
    align-items: center;
    
    height: 80px;
    padding-left:5px;
    padding-right: 5px;
}
a {
    color:orangered;
    margin: 2px;
}
.mail {
    display:flex;
    justify-content: center;
    align-items:center;
}
.footer-redes {
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}
@media (max-width:600px){
body{
    margin:0;
}
    nav {
    display:flex;
    width: 100%;
    height:auto;
}
.cuerpo-redes,.div-nav,#logo2 {
    display:none;
}
.div-logo {
    display: block;
}
header {
    display:flex;
   margin-top: 40px;
    height: auto;
    padding:0;
    
}
.cuerpo {
    background-color: rgb(240, 235, 235);
}
.img-banner {
    
    width: 100%;
    height: auto;
}
.img-banner img {
    width:100%;
    height: auto;
}
.hamburguesa{
    display:block;
    
}
.avatares {
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
}
.img-redes {
    padding: 10px;
}
.datos {
    display: flex;
    flex-direction: column;
text-align: center;

}

.card {
    display: flex;
    flex-direction: column;
}
.img-avatar {
    z-index: 1;
}
.nombre {
    position: relative;
   border-radius: 10%;
    background-color: lightgray;
    z-index: 2;
    bottom: 130px;
    color: black;
}
.puesto {
    position: relative;
    border-radius: 10%;
    background-color: lightgray;
    z-index: 2;
    bottom: 40px;
    color: black;
}